<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="vscode-per-namespace-settings.ZPM">
    <Module>
      <Name>vscode-per-namespace-settings</Name>
      <Version>0.0.1</Version>
      <Description>Create the /_vscode webapp that server-side mode of the vscode-objectscript extension can leverage</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <CSPApplication
        Url="/_vscode"
        SourcePath="/src/csp"
        DeployPath="${installdir}.vscode"
        Description="Storage for VS Code namespace-specific settings, snippets, debug configurations etc."
        Namespace="%SYS"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        AutoCompile="0"
        Recurse="1"
       />
    </Module>    
  </Document>
</Export>
