<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="vscode-per-namespace-settings.ZPM">
    <Module>
      <Name>vscode-per-namespace-settings</Name>
      <Version>1.0.0</Version>
      <Description>Create the /_vscode webapp that server-side mode of the vscode-objectscript extension can leverage</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="/src/csp/" />
      <Resource Name="%Z.IPM.Bootstraps.PKG" />
      <Invoke Class="%Z.IPM.Bootstraps.Main" Method="CreateWebApp" CheckStatus="true">
        <Arg>${root}src/csp/</Arg>
      </Invoke>

      <!--
        To avoid deleting the package prematurely when packaging / publishing, append ' -Ddelete=' to command e.g.
          zpm "vscode-per-namespace-settings publish -v -Ddelete="
      -->
      <Default Name="delete" Value="s" />
      <Invoke Class="%SYSTEM.OBJ" Method="DeletePackage" CheckStatus="true">
        <Arg>%Z.IPM.Bootstrap${delete}</Arg>
      </Invoke>
    </Module>    
  </Document>
</Export>
